.listItem {
    padding: 0.7rem;
    margin: 0.8rem;
    background: linear-gradient(10deg, #F07E31, #ED602B);
    border-radius: 6px;
    box-shadow: 0 0 3px 1px #333333;
    font-family: 'roboto';
    font-weight: 450;
    text-align: center;
    color: white;
    text-shadow: 0 0 0.5px #333333;
    word-break: break-word;
    cursor: pointer;
    transition: opacity 0.7s;
}

.listItem:hover {
    opacity: 0.8;
}