html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(330deg, #F07E31, #ff993f);
  height: 100%;
  overflow: hidden;
}

#root {
  min-height: 100%;
}